body {
  margin: 0;
  box-sizing: border-box;
  background-color: #f1f1f1;
}

.App {
  text-align: center;
}

.logo {
  color: white;
  text-decoration: none;
}

.App-header {
  background-color: #469cc4;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 5% 0 5%;
}

.container {
  margin: 5vh auto auto auto;
  width: 80%;
  min-height: 75vh;
  background-color: white;
  padding: 30px 50px 0;

}


.form {
  display: flex;
  flex-direction: column;
}